<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Index | My App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>

    <body>
        <header>
            <!--nav -->
            <nav>
                <ul><a href="/login">Login</a></ul>
            </nav>
        </header>
        <main>
            <p>Welcome to my app!</p>
        </main>
        <footer></footer>
    </body>
</html>