<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>

    <body>
        <header>
            <h1>Login</h1>
            <!--nav -->
        </header>
        <main>
            <form id="loginForm" method="post">
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <button type="submit">Login</button>
            </form>
        </main>
        <footer></footer>
    </body>
</html>